a{
    text-decoration: none ;
}

body{
    background: -webkit-linear-gradient(bottom,#E4B7AD,rgba(255, 255, 255, 0.7));
}
label{
    font-family: "Relaway", sans-serif;
    font-size: 11pt ;
}

#forgot-pass{
    color: aqua;
    font-family: "Relaway", sans-serif;
    font-size: 10pt ;
    margin-top: 3px;
    text-align: right;
}

#card{
    color: rgb(0, 0, 0);
    border-radius: 8px ;
    box-shadow:1px 2px 8px rgb(0, 0, 0);
    height: 410px;
    margin-top: 6rem auto 8.1rem auto;
    text-align: right;
}
#card-content{
    padding: 12px 44px;
}

#card-title{
    font-family: "Relaway", sans-serif;
    letter-spacing:4px;
    padding-bottom:23px;
    text-align: center;
}

#singup{
    color: rgb(0, 0, 0);
    font-family: "Relaway", sans-serif;
    font-size: 10pt ;
    margin-top: 16px;
    text-align: center;
}

#submit-btn{
    background: -webkit-linear-gradient(bottom,#E4B7AD,rgba(255, 255, 255, 0.7));
    border-radius: 21px;
    border: none;
    box-shadow: 0px 1px 8px rgb(0, 0, 0);
    cursor:pointer;
    color : white;
    font-family: "Relaway", sans-serif;
    height: 42.3px;
    margin:0 auto;
    margin-top: 50px;
    transition: 0.50s;
    width: 153px;
}

#submit-btn:hover{
    box-shadow: 0px 1px 8px rgb(228, 12, 12);
}

.form{
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form-border{
    height : 1px;
    width: 100px;
    background: -webkit-linear-gradient(bottom,#E4B7AD,rgba(255, 255, 255, 0.7));
}

.form-content{
    background: beige;
    border : none;
    outline: none;
    padding-top: 14px;
}

.underline.title{
    background: -webkit-linear-gradient(bottom,#E4B7AD,rgba(255, 255, 255, 0.7));
    height : 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

i{
    font-size: 28px;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.form{
    background: #6eb5ff;
    margin: auto;
    justify-content: center;
    padding: 10px 10px;
    margin: 20px;
    border-radius: 10px;
}
